//profiles {
  //  conda {
    //    conda.channels = ['bioconda', 'conda-forge']
    //}
//}

conda.enabled=true

conda {
    enabled = true
    channels = ['conda-forge', 'bioconda', 'defaults']
}

profiles {
    // End-users on Apple Silicon use this profile
    apple_silicon {
        conda.createOptions = "--subdir 'osx-64'"
    }
}